$bgSection: hsl(236, 55%, 6%);
$bgLabel: hsl(235, 24%, 19%);
$textsColor: hsl(234, 39%, 85%);
$activeTexts: hsl(236, 33%, 92%);
$activeTextsHover: hsl(233, 14%, 35%);
$darkGrayishBlue: hsl(234, 11%, 52%);
$padding: 2vh 32vw;